html{
  background-color: red;
  background: repeating-linear-gradient(45deg, red, blue 2%, white 2%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:white;
  height: 100%;
  width: 100%;
}

#resume{
  height: 95%;
  width: 95%;
  padding: 2.5%, 2.5%, 2.5%, 2.5%;
}
